<html>
	<head>
		<title>Stylo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/home.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJdJ76C7tY7RfZpyaF3C5k4ysU_NkotzM&callback=initMap"></script>
		<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
	    </script>
	    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/src/markerclusterer.js"></script>
		<script type="text/javascript" src="/js/map.js"></script>
	</head>
	<body>
		<div class=" container text-center">
			<h1> Account Settings </h1>

		<!-- Tabs -->
		<div class="container" style="text-align: center; position: fixed; bottom: 0">
			<div class="btn-group btn-group-lg">
			  <!-- <button type="button" onclick="/home" class="btn btn-light btn-lg">Home</button>
			  <button type="button" onclick="favoriteMap()" class="btn btn-light btn-lg">Favorite</button> -->
			  <a href="/" class="btn btn-light btn-lg" role="button">Home</a>
			  <a href="/" class="btn btn-light btn-lg" role="button">Favorite</a>
			  <a href="/" class="btn btn-light btn-lg" role="button">Study Groups</a>
			  <!-- <button type="button" onclick="studyGroupsMap()" class="btn btn-light btn-lg">Study Groups</button> -->
			  <a href="/profile" class="btn btn-light btn-lg" role="button">Profile</a>
			  <!-- <button type="button" onclick="profilePage()" class="btn btn-light btn-lg">Profile</button> -->
			</div>
		</div>
	</div>
	</body>
</html>
