<html>
	<head>
		<title>Stylo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css"
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/home.css">
		<link rel="stylesheet" href="css/profile.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJdJ76C7tY7RfZpyaF3C5k4ysU_NkotzM"></script>
		<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
	    </script>
	    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/src/markerclusterer.js"></script>
		<script type="text/javascript" src="/js/map.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
	</head>

	<body onload="initMap()" class="w3-theme-l5">
		<header class="w3-bar w3-card w3-theme">
		  <h1 class="myHeader">Home</h1>
		</header>
		<br>

		<!-- Search bar -->
		<div class="w3-row w3-theme-l5">
			<div class="w3-container" id="searchbar">
				<form>
			  		<input type="text" placeholder="Search.." name="search" class="mySearchBar">
			  		<button type="button" onclick="mySearch()" class="w3-button w3-hover-teal"><i class="fa fa-search"></i></button>
			  		<div id="dialog" title="Filters">
					  	<p>
						  <label for="distance">Distance</label>
						  <input type="text" id="distance" readonly style="border:0; color:#f6931f; font-weight:bold;">
						</p>
						<div id="slider-range-max-dist" class="mySlider"></div>
						<p>
						  <label for="price">Price</label>
						  <input type="text" id="price" readonly style="border:0; color:#f6931f; font-weight:bold;">
						</p>
						<div id="slider-range-max-price" class="mySlider"></div>
						<fieldset>
						    <label>Sound </label><br/>
						    <label for="radio-1" class="myRadio">Quiet</label>
						    <input type="radio" name="radio-1" id="radio-1" class="myRadio">
						    <label for="radio-2" class="myRadio">Little Noise</label>
						    <input type="radio" name="radio-1" id="radio-2" class="myRadio">
						    <label for="radio-3" class="myRadio">Loud</label>
						    <input type="radio" name="radio-1" id="radio-3" class="myRadio">
						</fieldset>
						<input type="checkbox" name="filter" class="dropOptions" id="wifi"> Wifi<br>
						<input type="checkbox" name="filter" class="dropOptions" id="hour"> 24 Hour<br>
						<button type="button" onclick="filterMap()" class="btn btn-light" id="dropSubmit"> Submit </button>
					</div>



			  	</form>
				</div>

			<div class="w3-row" id="myRow">
				<label>Help</label>
				<div class="extraLabel"></div>
				<label for="opener">Filter</label>
			</div>

			<div class="w3-row" id="myRow">
					<div id="dialogColor" title="Color Meanings">
					  	<p style="text-align: center;">
							<font style="color:green">Green = Not Busy</font><br/>
							<font style="color:#e6e600">Yellow = Kind of Busy</font><br/>
							<font style="color:red">Red = Busy</font><br/>
							<a href="/help" class="w3-button w3-hover-teal " role="button">More Help?</a>
						</p>
				  	</div>
					<button id="openerColor" type="button" class="w3-button w3-hover-teal"> <i class="fa fa-question-circle"></i> </button>
<!-- 					<div class="extra"></div>
				 	<a href="/add" id="addButton" class="w3-button w3-hover-teal" role="button"><i class="fa fa-plus"></i></a> -->
				 	<div class="extra"></div>
					<button type="button" class="w3-button w3-hover-teal" id="opener"><i class="fa fa-filter" name="opener"></i></button>
			</div>
			<div id="map"></div>
		</div>
		<br>
		<br>



		<!-- Tabs -->

		<footer class="w3-row w3-theme" id="bottomBar">
			<!-- <div class="w3-row"> -->
			<div class="resizeButton">
			  <a href="/home" class="w3-button w3-hover-teal " role="button" id="bottomButton">Home</a>
			  </div>
			  <div class="resizeButton">
			  <a href="/favoriteLocs" class="w3-button w3-hover-teal " role="button" id="bottomButton">Favorite</a>
			  </div>
			  <div class="resizeButton2">
			  <a href="/studyGroups" class="w3-button w3-hover-teal " role="button" id="bottomButton">Study Groups</a>
			  </div>
			  <!-- <button type="button" onclick="favoriteMap()" class="w3-button w3-hover-teal" id="bottomButton">Favorite</button> -->
<!-- 			  <button type="button" onclick="studyGroupsMap()" class="w3-button w3-hover-teal " id="bottomButton">Study Groups</button> -->
				<div class="resizeButton">
			  		<a href="/profile" class="w3-button w3-hover-teal " role="button" id="bottomButton">Profile</a>
			   </div>
			<!-- </div> -->
		</footer>

	</body>
</html>
