<html>
	<head>
		<title>Stylo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/home.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJdJ76C7tY7RfZpyaF3C5k4ysU_NkotzM&callback=initMap"></script>
		<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
	    </script>
	    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/src/markerclusterer.js"></script>
		<script type="text/javascript" src="/js/map.js"></script>
	</head>

	<body>
		<div class="text-center">
		  <h1>Stylo</h1>
		  <p>Welcome to Stylo!</p> 
		</div>

		<!-- Search bar -->
		<div class="container" style="text-align: center">
			<form>
		  		<input type="text" placeholder="Search.." name="search" class="searchbar">
		  		<!-- <button type="submit"><i class="fa fa-search"></i></button> -->
		  		<button type="submit" class="btn btn-light dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i></button>
		  		<div class="dropdown-menu">
					    <form>
						  <label for="customRange">Distance</label>
						  <input type="range" class="custom-range" id="customRange" name="distance">
						</form>
					    <form>
						  <label for="customRange">Sound</label>
						  <input type="range" class="custom-range" id="customRange" name="sound">
						</form>
						<form>
						  <label for="customRange">Group Size</label>
						  <input type="range" class="custom-range" id="customRange" name="group-size">
						</form>
						<form>
						  <label for="customRange">Price</label>
						  <input type="range" class="custom-range" id="customRange" name="price">
						</form>
						<form>
						  <div class="custom-control custom-radio">
						    <input type="radio" class="custom-control-input" id="customRadio" name="example1" value="customEx">
						    <label class="custom-control-label" for="customRadio">Wifi</label>
						  </div> 
						</form>
						<form>
						  <div class="custom-control custom-radio">
						    <input type="radio" class="custom-control-input" id="customRadio" name="example1" value="customEx">
						    <label class="custom-control-label" for="customRadio">24 Hour</label>
						  </div> 
						</form>
				  	</div>
			</form>
		</div>

		<!-- Plus button and Map -->
		<div class="container">
			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col">
				 	<a href="/add" class="btn btn-light" role="button"><i class="fa fa-plus"></i></a>
				</div>
			</div>
			<div id="map"></div>
		</div>
    

		<!-- Tabs -->
		<div class="container" style="text-align: center">
			<div class="btn-group btn-group-lg">
			  <button type="button" onclick="initMap()" class="btn btn-light btn-lg">Home</button>
			  <button type="button" onclick="favoriteMap()" class="btn btn-light btn-lg">Favorite</button>
			  <button type="button" onclick="studyGroupsMap()" class="btn btn-light btn-lg">Study Groups</button>
			  <a href="/profile" class="btn btn-light btn-lg" role="button">Profile</a>
			  <!-- <button type="button" onclick="profilePage()" class="btn btn-light btn-lg">Profile</button> -->
			</div>
		</div>
	</body>
</html>