<html>
	<head>
	  <title>Stylo</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	  	  <script> 
	  	var map;

		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
			  center: {lat: -34.397, lng: 150.644},
			  zoom: 8
			});
		}
	  </script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJdJ76C7tY7RfZpyaF3C5k4ysU_NkotzM">
    </script>

	</head>
	<body>
		<div class="text-center">
		  <h1>STYLO</h1>
		  <p>Welcome to Stylo!</p> 
		</div>

		<!-- Search bar -->
		<div class="container">

		</div>

		<!-- Map -->
		<div id="map">
			
		</div>

		<!-- Tabs -->
		<div class="container" style="text-align: center">
			<div class="btn-group btn-group-lg">
			  <button type="button" class="btn btn-light btn-lg">Home</button>
			  <button type="button" class="btn btn-light btn-lg">Favorite</button>
			  <button type="button" class="btn btn-light btn-lg">Study Groups</button>
			  <button type="button" class="btn btn-light btn-lg">Profile</button>
			</div>
		</div>
	</body>
</html>