<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>

  <div class="container text-center">
  	<h1>Stylo</h1>
  </div>
<br>

  <!-- Username-->
  <div class="container text-center">
    <div class="form-group">

        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Username">
  </div>

  <!-- Password-->
  <div class="container text-center">
    <div class="form-group">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Password">
  </div>
<br>

  <div class="container text-center" style="text-align: center; position: fixed; bottom: 0">
    <a href="/home" class="btn btn-light btn-lg" role="button">Log In</a>

<br>
  <div class="container text-center">
    <a href="/signUp">Sign Up</a>
  </div>
  </div>

</body>
</html>