<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    {{> facebook}}
    <script src="/js/facebook.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body class="w3-theme-l5">

  <header class="w3-bar w3-card w3-theme">
      <h1 class="myHeader" style="text-align: center">Stylo</h1>
    </header>
<br>

  <div class="w3-container text-center">
      <p>
      Welcome to Stylo, your app to find study locations based on your preferences!
    </p>
    <div class="w3-container" id="topItems">
    <h3> Log In </h3>
     
    </div>

  <div class="middleItems"> 
     <div class="form-group">

          <input type="email" class="myInput" id="exampleFormControlInput1" placeholder="Username">
      </div>
      <div class="form-group">
          <input type="email" class="myInput" id="exampleFormControlInput1" placeholder="Password">
    </div>
  </div>

  <div class="bottomStuff">
    <a href="/home" class="w3-button w3-hover-teal " role="button">Log In</a>

<br>

    <a class="w3-button w3-hover-teal " href="/signUp">Sign Up</a>
    <br/>
        <p class="facebookLogin"><br/>
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>
  </p>
  </div>

</body>
</html>