<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>

  <div class="container text-center">
  	<h1>Stylo</h1>
  </div>

  <div class="container">
    <h3>Username</h3>
    <h3>Password</h3>
  </div>

  <div class="container">
    <a href="/home" class="btn btn-light btn-lg" role="button">Log In</a>
  </div>

  <div class="container">
    <h4>Sign Up</h4>
  </div>

</body>
</html>