<html>
	<head>
		<title>Stylo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/home.css">
		<link rel="stylesheet" href="css/profile.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJdJ76C7tY7RfZpyaF3C5k4ysU_NkotzM&callback=initMap"></script>
		<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
	    </script>
	    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/src/markerclusterer.js"></script>
		<script type="text/javascript" src="/js/map.js"></script>
	</head>
	<body>
		<div class=" container text-center">
			<h1> Manage Favorites </h1>
			<br>

		<!-- Favorites List -->
		<div class="list-group">

			<!-- Favorties 1 -->
			<div>
				<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">
			  	Favorites 1
				</button>
				<!-- Modal 1 -->
					<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLongTitle">Favorites 1</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <h4>Description</h4>
									<p>Location 1 is great for all things!
										<div>Hours: Mon-Sat 8am-10pm</div>
										<div>123 Address St. La Jolla, CA</div>
										<div>Open</div>
										<div>20 Available seats.</div>
										<img src="https://www.c-ville.com/wp-content/uploads/2015/05/Library_StephenBarling-660x335.jpg" >
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary">Delete Favorite</button>
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<br>

				<!-- Favorties 2 -->
				<div>
					<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">
				  	Favorites 2
					</button>
					<!-- Modal 2-->
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLongTitle">Favorites 1</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <h4>Description</h4>
										<p>Location 2 is great for all things!
											<div>Hours: Mon-Sat 8am-10pm</div>
											<div>123 Address St. La Jolla, CA</div>
											<div>Open</div>
											<div>20 Available seats.</div>
											<img src="https://www.c-ville.com/wp-content/uploads/2015/05/Library_StephenBarling-660x335.jpg">
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary">Delete Favorite</button>
						        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
				</div>
				<br>

				<!-- Favorties 3 -->
				<div>
					<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">
				  	Favorites 3
					</button>
					<!-- Modal 3 -->
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLongTitle">Favorites 1</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <h4>Description</h4>
										<p>Location 3 is great for all things!
											<div>Hours: Mon-Sat 8am-10pm</div>
											<div>123 Address St. La Jolla, CA</div>
											<div>Open</div>
											<div>20 Available seats.</div>
											<img src="https://www.c-ville.com/wp-content/uploads/2015/05/Library_StephenBarling-660x335.jpg">
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary">Delete Favorite</button>
						        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
				</div>
				<br>

				<!-- Favorties 4 -->
				<div>
					<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">
				  	Favorites 4
					</button>
					<!-- Modal 4 -->
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLongTitle">Favorites 1</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <h4>Description</h4>
										<p>Location 4 is great for all things!
											<div>Hours: Mon-Sat 8am-10pm</div>
											<div>123 Address St. La Jolla, CA</div>
											<div>Open</div>
											<div>20 Available seats.</div>
											<img src="https://www.c-ville.com/wp-content/uploads/2015/05/Library_StephenBarling-660x335.jpg">
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary">Delete Favorite</button>
						        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
				</div>
				<br>

				<!-- Favorties 5 -->
				<div>
					<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">
				  	Favorites 5
					</button>
					<!-- Modal 5 -->
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLongTitle">Favorites 1</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <h4>Description</h4>
										<p>Location 5 is great for all things!
											<div>Hours: Mon-Sat 8am-10pm</div>
											<div>123 Address St. La Jolla, CA</div>
											<div>Open</div>
											<div>20 Available seats.</div>
											<img src="https://www.c-ville.com/wp-content/uploads/2015/05/Library_StephenBarling-660x335.jpg">
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary">Delete Favorite</button>
						        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
				</div>
				<br>

				<!-- Add Button -->
				<div>
					<a href="/add" class="btn btn-light" role="button"><i class="fa fa-plus"></i></a>
				</div>

			</div>
		</div>

		<!-- Tabs -->
		<!-- Tabs -->
		<div class="container" style="text-align: center; position: fixed; bottom: 0">
			<div class="btn-group btn-group-lg">
			  <!-- <button type="button" onclick="/home" class="btn btn-light btn-lg">Home</button>
			  <button type="button" onclick="favoriteMap()" class="btn btn-light btn-lg">Favorite</button> -->
			  <a href="/" class="btn btn-light btn-lg" role="button">Home</a>
			  <a href="/" class="btn btn-light btn-lg" role="button">Favorite</a>
			  <a href="/" class="btn btn-light btn-lg" role="button">Study Groups</a>
			  <!-- <button type="button" onclick="studyGroupsMap()" class="btn btn-light btn-lg">Study Groups</button> -->
			  <a href="/profile" class="btn btn-light btn-lg" role="button">Profile</a>
			  <!-- <button type="button" onclick="profilePage()" class="btn btn-light btn-lg">Profile</button> -->
			</div>
		</div>
	</div>
	</body>
</html>
