<html>
<head>
	<title>Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/profile.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class=" container text-center">
    <h1>Profile</h1>
  </div>

<!-- Profile Info -->
  <div class="container text-center">
		<div class="card">
			<div class="card-body">
				<img src="https://upload.wikimedia.org/wikipedia/en/1/13/Stick_figure.png" alt="profile">
			</div>
		</div>
    <h2>Person One</h2>
  </div>

<!-- Content -->
  <div class="container">
    <h4>Username</h4>
		<a href="/manage">Manage Favorites</a>
		<div>
			<a href="/account">Account Settings</a>
		</div>
  </div>

<!-- Tabs -->
<div class="container" style="text-align: center; position: fixed; bottom: 0">
	<div class="btn-group btn-group-lg">
		<a href="/home" class="btn btn-light btn-lg" role="button">Home</a>
		<a href="/favoriteLocs" class="btn btn-light btn-lg" role="button">Favorite</a>
		<a href="/studyGroups" class="btn btn-light btn-lg" role="button">Study Groups</a>
		<a href="/profile" class="btn btn-light btn-lg" role="button">Profile</a>
		<!-- <button type="button" onclick="profilePage()" class="btn btn-light btn-lg">Profile</button> -->
	</div>
</div>

</body>
</html>
