<html>
<head>
	<title>Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/profile.css">

	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<script src="js/profile.js"></script>
</head>
<body class="w3-theme-l5">

	<header class="w3-bar w3-card w3-theme">
		<h1 class="myHeader">Profile</h1>
	</header>
	<br>

<!-- Profile Info -->
  <div class="container text-center">
				<img src="https://upload.wikimedia.org/wikipedia/en/1/13/Stick_figure.png" alt="Avatar" class="avatar">
    <h2>Person One</h2>
  </div>
</div>

<!-- Content -->
  <div class="container text-center">
    <h4 id="username">Username</h4>
		<a class="w3-button w3-hover-teal" href="/manage">Manage Favorites</a>
		<div>
			<a class="w3-button w3-hover-teal" href="/account">Account Settings</a>
		</div>
		<button id="randomEmoji">Add Spirit Animal to Username</button>
  </div>
	<br>

<!-- Tabs -->
		<footer class="w3-row w3-theme" id="bottomBar">
			<!-- <div class="w3-row"> -->
			  <a href="/home" class="w3-button w3-hover-teal " role="button" id="bottomButton">Home</a>
			  <a href="/favoriteLocs" class="w3-button w3-hover-teal " role="button" id="bottomButton">Favorite</a>
			  <a href="/studyGroups" class="w3-button w3-hover-teal " role="button" id="bottomButton">Study Groups</a>
			  <!-- <button type="button" onclick="favoriteMap()" class="w3-button w3-hover-teal" id="bottomButton">Favorite</button> -->
<!-- 			  <button type="button" onclick="studyGroupsMap()" class="w3-button w3-hover-teal " id="bottomButton">Study Groups</button> -->
			  <a href="/profile" class="w3-button w3-hover-teal " role="button" id="bottomButton">Profile</a>
			<!-- </div> -->
		</footer>

</body>
</html>
