<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body class="w3-theme-l5">
  <header class="w3-bar w3-card w3-theme">
      <h1 class="myHeader" style="text-align: center">StudyPoint</h1>
  </header>
  <div class="w3-container text-center">
    <br>
    <p>
      Welcome to StudyPoint, your app to find study locations based on your preferences!
    </p>

    <!-- new -->
    <div id="login">
      <div class="container">
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column">
                  <!-- <div id="login-box" class="col-md-12"> -->
                  <div id="login-box" class="middleItems">
                      <form id="login-form" class="form" action="" method="post">
                          <h3 class="text-center">Sign Up</h3>
                          <div class="form-group">
                              <label for="email" >Email:</label><br>
                              <input type="text" name="email" id="email" class="form-control">
                          </div>
                          <div class="form-group">
                              <label for="username" >Username:</label><br>
                              <input type="text" name="username" id="username" class="form-control">
                          </div>
                          <div class="form-group">
                              <label for="password" >Password:</label><br>
                              <input type="password" name="password" id="password" class="form-control">
                          </div>
                          <div class="form-group">
                              <label for="confirmpassword" >Confirm Password:</label><br>
                              <input type="password" name="password" id="password" class="form-control">
                          </div>
                          <br>
                          <div class="form-group">
                              <a href="/home" class="w3-button w3-teal w3-border" role="button">Create Account</a><br>
                          <br>
                          <div>
                             <p>Already on StudyPoint? <br/>
                              <a class="w3-button w3-hover-teal " href="/">Log In</a></p>
                          </div>

                         </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>

</body>
</html>


