<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/signUp.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body class="w3-theme-l5">
  <header class="w3-bar w3-card w3-theme">
      <h1 class="myHeader" style="text-align: center">Sign Up</h1>
    </header>
<br>
 <form>
  <!-- Email-->
 <!--  <div class="container text-center"> -->
<div class="container text-center">
    <div class="form-group">
        <input type="email" class="myInput" id="exampleFormControlInput1" placeholder="Email">
  </div>

  <!-- Username-->
  <!-- <div class="container text-center"> -->
    <div class="form-group ">
        <input type="email" class="myInput" id="exampleFormControlInput1" placeholder="Username">
  </div>

  <!-- Password-->
  <!-- <div class="container text-center"> -->
    <div class="form-group">
        <input type="email" class="myInput" id="exampleFormControlInput1" placeholder="Password">
  </div>

  <!-- Confirm Password-->
  <!-- <div class="container text-center"> -->
    <div class="form-group">
        <input type="email" class="myInput" id="exampleFormControlInput1" placeholder="Confirm Password">
  </div>

 </form>
</div>
  <!-- Create My Account-->
  <div class=" bottomStuff">
    <a href="/home" class="w3-button w3-hover-teal " role="button">Create My Account</a>
    <br/>
    <br/>
    <div>
      <p>Already on Stylo? <br/><a class="w3-button w3-hover-teal " href="/">Sign in</a></p>
    </div>
  </div>
<!-- </div> -->

</body>
</html>


