.mySearchBar {
	width: 50%;
  display:inline-block;
}

.myHeader {
  text-align: center;
}

#map {
	height: 500px;
	width: 80%;
	margin: 0 auto 0 auto;
  margin-bottom: 30px;
}

#toggleButton {
  border: 1px solid grey;
  /*align-items: center;*/
}

#bottomBar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: .34rem;*/
  background-color: #efefef;
  text-align: center;
  width: 100%;
}

#openerColor {
/*  margin-left: 30px;
*/}

#searchBar {
    text-align: center;
}

#myRow {
    text-align: center;
}

.extra {
  width: 15px;
  display:inline-block;
}

.extraLabel {
  width: 25px;
  display:inline-block;
}

.filterDiv {
 /* width: 15px;*/
  /*display:inline-block;*/
}

#bottomButton {
  /*display: inline-block;*/
  /*padding: 8px 8px !important;*/
  /*width: 25%;
  height: 50px;*/
   margin-top: 5px;
  /*border: 1px solid black;*/
}

.resizeButton2 {
  /*padding: 1px 1px !important;*/
  /*margin-top: 5px;*/
  margin-right: 20px;
  width: 22%;
  height: 50px;
  display: inline-block;
  /*border: 1px solid black;*/
}

.resizeButton {
  /*padding: 1px 1px !important;*/
  margin-right: -5px;
  width: 22%;
   /*margin-top: 5px;*/
  height: 50px;
  display: inline-block;
  /*border: 1px solid black;*/
}

.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2606";
   position: absolute;
}

.row {
	margin: auto;
	max-width:250px
}

.infoWindowImage {
	height: 100px;
	width: 100%;
}

.infoWindowOpen {
  color: green;
}

.mySlider {
	margin-top: -15px;
	margin-bottom: 10px;
}

.ui-widget .ui-widget {
    font-size: 0.9em !important;
}

.dropOptions {
	margin-left: 10px;
}

#dropSubmit {
	margin-left: 100px;
}

input.chk-btn {
  display: none;
}
input.chk-btn + label {
  border: 1px solid grey;
  background: ghoswhite;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;

}
input.chk-btn:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;
}
input.chk-btn + label:active,
input.chk-btn:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: #ADD8E6;
}
