.searchbar {
	width: 60%;
}

#map {
	height: 500px;
	width: 80%;
	margin: 0 auto 0 auto;
}

.add-btn {
	/*float: right;*/
}

.searchbar {
	width: 130px;
}

.row {
	margin: auto;
	max-width:250px
}

.infoWindowImage {
	height: 100px;
	width: 100px;
}

#myDropdown {
	width: 300px;
}

#dropOptions {
	margin-left: 10px;
}

#dropSubmit {
	margin-left: 120px;
}

input.chk-btn {
  display: none;
}
input.chk-btn + label {
  border: 1px solid grey;
  background: ghoswhite;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
 
}
input.chk-btn:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;
}
input.chk-btn + label:active,
input.chk-btn:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: #ADD8E6;
}